<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/aboutMe.css">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="container">

            <div class="wrapper">

                <div class="box-1">
                    <div class="text">
                        <span>
                            <a href="./service.html">Bosh menyuga qaytish</a>
                        </span>
                    </div>
                    <div class="img">
                        <img src="./img/director.png" alt="#">
                    </div>
                </div>

               
                <div class="box-2">
                   
                  
                    <div class="text">
                        <span>
                            Portfolio
                        </span>
                    </div>
                    <div class="logo">
                        <img src="./img/bag.png" alt="#">
                    </div>
                  
                   
                </div>

                <div class="box-3">
                    <div class="img-telg">
                       <img src="./img/telg.png" alt="#">
                    </div>
                    <div class="img-inst">
                        <img src="./img/ins.png" alt="#">
                    </div>
                </div>

            </div>
            
        </div>
    </header>

    <section>
        <div class="container">

            <div class="wrapper spred">

                <div class="box-1">
                    <p>
                        Biz haqimizda
                    </p>
                </div>
                <div class="box-2">
                    <p>
                        Men Abdujabborov Asliddin
                        2001-yil Jizzax viloyatida tu'gilganman.
                        Grafik dizayn sohasiga qiziqganligim sabab <a href="#" class="add">TeamIT</a > academy da (Grafik dizayn)
                        kursini tamomlaganman. <a href="#" class="add">Creativ SMM</a> academy da (Grafik dizayn)
                        agency va <a href="#" class="add">Factor press</a> nashriyotida
                        grafik dizayner bo'lib o'z ish faoliyatimni
                        olib bormoqdaman.
                    </p>
                </div>
                <div class="box-3">
                    <ul>
                        <li>
                            Frilancer
                        </li>
                    </ul>
                </div>
                <div class="box-4">
                    <p class="text">Taklif va murojatlar uchun bo'glaning! <a href="#" class="anchor">/+998 97 000 32 03</a></p>
                </div>

            </div>



        </div>
    </section>
</body>
</html>