<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/connectMe.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">

            <div class="wrapper">

                <div class="box-1">
                    <div class="text">
                        <span>
                            <a href="./service.html">Bosh menyuga qaytish</a>
                        </span>
                    </div>
                    <div class="img">
                        <img src="./img/director.png" alt="#">
                    </div>
                </div>

               
                <div class="box-2">
                   
                  
                    <div class="text">
                        <span>
                            Portfolio
                        </span>
                    </div>
                    <div class="logo">
                        <img src="./img/bag.png" alt="#">
                    </div>
                  
                   
                </div>

                <div class="box-3">
                    <div class="img-telg">
                       <img src="./img/telg.png" alt="#">
                    </div>
                    <div class="img-inst">
                        <img src="./img/ins.png" alt="#">
                    </div>
                </div>

            </div>
            
        </div>
    </header>

    <section>
        <div class="container">

            <div class="wrapper spred">

                <div class="box-1">
                    <p>
                        Biz haqimizda
                    </p>
                </div>

                <div class="box-2">
                    <div class="con-phone">
                        <p>Aloqa uchun</p>
                        <a href="#" class="anchor">+998 97 000 32 03</a>
                    </div>
                    <div class="con-net">
                        <p>Ijtimoiy tarmoqlar</p>
                        <div class="net_images">
                            <div class="img_telg">
                                <img src="./img/telg.png" alt="#">
                            </div>
                            <div class="img_ins">
                                <img src="./img/ins.png" alt="#">
                            </div>
                            <div class="email">
                                <p>@asliddin_rustamovich</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-3">
                    <div class="text">
                        <p>Bog'lanish vaqti:</p>
                    </div>
                   <div class="logo">
                       <div class="img">
                           <img src="./img/person.png" alt="#">
                       </div>
                       <div class="text">
                           <p>7<sup>00</sup> - 20<sup>00</sup></p>
                       </div>
                   </div>
                </div>

                <div class="box-4">
                    <p class="text">Taklif va murojatlar uchun bo'glaning! </p>
                </div>

            </div>



        </div>
    </section>
</body>
</html>