<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public//css//portfolio.css">
    <title>Document</title>
</head>

<body>

    <header>
        <div class="container">

            <div class="wrapper">

                <div class="box-1">
                    <div class="text">
                        <span>
                            <a href="../public/img/service.html">Bosh menyuga qaytish</a>
                        </span>
                    </div>
                    <div class="img">
                        <img src="../public/img/director.png" alt="#">
                    </div>
                </div>

                <div class="box-2">
                    <div class="img">
                        <img src="../public/img/phone.png" alt="#">
                    </div>
                    <div class="text">
                        <span>
                            +998 97 000 32 03
                        </span>
                    </div>
                </div>

                <div class="box-3">
                    <div class="img-telg">
                        <img src="../public/img/telg.png" alt="#">
                    </div>
                    <div class="img-inst">
                        <img src="../public/img/ins.png" alt="#">
                    </div>
                </div>

            </div>

        </div>
    </header>

    <section class="section-1">

        <div class="container">

            <div class="wrapper">

                <div class="box-1">
                    <div class="contents">
                        <div class="works">
                            <span>
                                Bajarilgan ishlar
                            </span>
                        </div>
                        <div class="port">
                            <div class="text">
                                <span>
                                    Portfolio
                                </span>
                            </div>
                            <div class="logo">
                                <img src="../public/img/bag.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-2">
                    <ul class="categories">
                        <li class="item">
                            <div class="logo">
                                <div class="img">
                                    <img src="../public/img/smm.png" alt="#">
                                </div>
                            </div>
                            <div class="btn">
                                <button class="button">
                                    SMM design
                                </button>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li class="sc-li"> Facebook poster</li>
                                    <li class="sc-li"> Instagram poster</li>
                                    <li class="sc-li"> Telegram poster</li>
                                    <li class="sc-li"> You tobe poster</li>
                                </ul>
                            </div>
                        </li>
                        <li class="item">
                            <div class="logo">
                                <div class="img">
                                    <img src="../public/img/poligraphy.png" alt="#">
                                </div>
                            </div>
                            <div class="btn">
                                <button class="button">
                                    Poligraphy
                                </button>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li class="sc-li">Banner</li>
                                    <li class="sc-li">Flayer,brochure</li>
                                    <li class="sc-li">Bussines card (vizitka)</li>
                                </ul>
                            </div>
                        </li>
                        <li class="item">
                            <div class="logo">
                                <div class="img">
                                    <img src="../public/img/pakcage.png" alt="#">
                                </div>
                            </div>
                            <div class="btn">
                                <button class="button">
                                    Package design
                                </button>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li class="sc-li">Book cover (muqova)</li>
                                    <li class="sc-li">Product (mahsulot)</li>
                                </ul>
                            </div>
                        </li>
                        <li class="item">
                            <div class="logo">
                                <div class="img">
                                    <img src="../public/img/logo.png" alt="#">
                                </div>
                            </div>
                            <div class="btn">
                                <button class="button">
                                    Logo branding
                                </button>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li class="sc-li">Logo design</li>
                                    <li class="sc-li">Brandbook design</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </section>

    <section class="section-2">
        <div class="container">
            <div class="wrapper">
                <div class="box-1">
                    <div class="img">
                        <div class="net">
                            <img src="../public/img/Ps.png" alt="#">
                        </div>
                        <div class="net">
                            <img src="../public/img/Ai.png" alt="#">
                        </div>
                    </div>
                </div>
                <div class="box-2">
                    <div class="title">
                        <span>Social media Marketing</span>
                    </div>
                </div>
                <div class="box-3">
                    <ul>
                        <li class="list">

                            <div class="list-img">
                                <div class="img">
                                    <img src="https://s.starladder.com/uploads/user_logo/9/7/5/e/meta_tag_d1d53fed98eb2a52569407c93390f49c.jpg"
                                        alt="#">
                                </div>
                            </div>
                            <div class="list-content">
                                <span>
                                    Sariq bola pizza uchun qilingan SMM design
                                </span>
                            </div>

                        </li>
                        <li class="list">

                            <div class="list-img">
                                <div class="img">
                                    <img src="https://yt3.ggpht.com/a/AATXAJy9WJbrIUyLcfvQ88w1oczO9GJ5vm6kLDUeqbgn=s900-c-k-c0xffffffff-no-rj-mo"
                                        alt="#">
                                </div>
                            </div>
                            <div class="list-content">
                                <span>
                                    Sariq bola pizza uchun qilingan SMM design
                                </span>
                            </div>

                        </li>
                        <li class="list">

                            <div class="list-img">
                                <div class="img">
                                    <img src="https://s.starladder.com/uploads/user_logo/9/7/5/e/meta_tag_d1d53fed98eb2a52569407c93390f49c.jpg"
                                        alt="#">
                                </div>
                            </div>
                            <div class="list-content">
                                <span>
                                    Sariq bola pizza uchun qilingan SMM design
                                </span>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="box-4">
                    <div class="btns">
                        <div class="bt">
                            <button>
                                <img src="../public/img/left.png" alt="#">
                            </button>
                        </div>
                        <div class="bt">
                            <button>
                                <img src="../public/img/right.png" alt="#">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-5">
                    <button>
                        Buyurtma berish
                    </button>
                </div>
            </div>
        </div>
    </section>

    <script src="../public/js/render.js"></script>
</body>

</html>