<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/service.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="wrapper">
                <div class="box-1">
                    <ul class="ul">
                        <li class="list"><a href="./aboutMe.html">Biz haqimizda</a></li>
                        <li class="list"><a href="./portfolio.html">Xizmatlar</a></li>
                        <li class="list"><a href="./connectMe.html">Bog'lanish</a></li>
                    </ul>
                  
                </div>
                <div class="box-2">
                    <p>Graphic designer</p>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="wrapper">
                <div class="box-1">
                    <p class="asl">Asliddin</p>
                    <p class="abu">Abdujabborov</p>
                </div>
                <div class="box-2">
                    <div class="space-1">

                    </div>
                    <div class="space-2">
                        <img src="./img/pattern.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>